<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588976083194-jf1g2cht4kophmu36pd7vafl792g80f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588976083194-jf1g2cht4kophmu36pd7vafl792g80f1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>588976083194-3co3am0hu899fqs3la7oas0bq1dsj9d2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByPp0OSjSK9WrVmlE3bV1Bg2VOIHd0Hms</string>
	<key>GCM_SENDER_ID</key>
	<string>588976083194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiranawala.storemanager</string>
	<key>PROJECT_ID</key>
	<string>oshop-21421</string>
	<key>STORAGE_BUCKET</key>
	<string>oshop-21421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588976083194:ios:e4aae57051d382c77b7943</string>
	<key>DATABASE_URL</key>
	<string>https://oshop-21421.firebaseio.com</string>
</dict>
</plist>